<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="30" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/kliklapor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kliklapor"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pengaduan"
        android:windowSoftInputMode="adjustPan|adjustResize"
        tools:targetApi="31">
        <activity
            android:name=".view.admin.PelangganActivity"
            android:exported="false" />
        <activity
            android:name=".view.admin.RealIdActivity"
            android:exported="false" />
        <activity
            android:name=".view.admin.RiwayatTanggapanActivity"
            android:exported="false" />
        <activity
            android:name=".view.admin.ResponseAduanActivity"
            android:exported="false" />
        <activity
            android:name=".view.admin.RiwayatAspirasiActivity"
            android:exported="false" />
        <activity
            android:name=".view.admin.TanggapanActivity"
            android:exported="false" />
        <activity
            android:name=".view.DetailRiwayatActivity"
            android:exported="false" />
        <activity
            android:name=".view.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.AspirasiActivity"
            android:exported="false" />
        <activity
            android:name=".view.RiwayatActivity"
            android:exported="false" />
        <activity
            android:name=".view.PengaduanActivity"
            android:exported="false" />
        <activity
            android:name=".view.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>